doctype html
html
   head
      title Home page
      style
             include ../style.css
      link(rel="preconnect",href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap",rel="stylesheet")
   body
    header 
      h1.title Home Page
      nav.navBar
        ul 
            li 
                a(href='/' class="navClick") Home 
            li 
                a(href='/Contact' class="navClick") Contact us 
            li 
                a(href='/Services' class="navClick") Our Services 
    main 
     div.container
      h1.homePageTitle Welcom to our web page...