doctype html
html
   head
      title Our Services page
      style
             include ../style.css
      link(rel="preconnect",href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap",rel="stylesheet")
   body
    header 
      h1.title Our Services 
      nav.navBar
        ul 
            li 
                a(href='/' class="navClick") Home
            li 
                a(href='/Contact' class="navClick") Contact us 
            li 
                a(href='/Services' class="navClick") Our Services
    main 
     div.servicesDiv 
        h1 &#9830; Travel Management
        h1 &#9830; Passenger assistance
        h1 &#9830; Consulting
        h1 &#9830; Marketing and internal communication 
        h1 &#9830; Technology 
        h1 &#9830; Leisure Services 